Repository sourcegraph/about, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sourcegraph/nobody, @sqs, @christinaforney, @sourcegraph/marketing, @imtommyroberts, @nicksnyder, @sourcegraph/campaigns, @sourcegraph/code-intel, @sourcegraph/core-services, @sourcegraph/distribution, @sourcegraph/web

Update handbook/engineering/distribution/index.md
  handbook/engineering/distribution/index.md
Owners: @sourcegraph/distribution

Update handbook/engineering/distribution/update_sourcegraph_website.md
  handbook/engineering/distribution/update_sourcegraph_website.md
Owners: @sourcegraph/distribution

adding instructions to update site config using env vars (#831)
  handbook/engineering/distribution/index.md
  handbook/engineering/distribution/update_sourcegraph_website.md
Owners: @sourcegraph/distribution

Add finance and reporting section
  handbook/bizops/index.md
Owners: @sqs

Update index.md
  handbook/bizops/index.md
Owners: @sqs

Update index.md
  handbook/bizops/index.md
Owners: @sqs

add link
  handbook/engineering/organization.md
Owners: @nicksnyder

Document process for handling security vulnerabilities (#833)
  handbook/engineering/organization.md
  handbook/engineering/security/index.md
Owners: @nicksnyder

Add finance and reporting section (#842)
  handbook/bizops/index.md
Owners: @sqs

Update security policy
  docs/security.md
Owners: @sourcegraph/marketing

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# https://help.github.com/articles/about-codeowners/
#
# Order is important; the last matching pattern takes the most
# precedence

# The "nobody" team is an alerting mechanism that indicates when there are files in a PR that are
# not owned by anyone. This is a signal to the PR author that certain modified files are unowned and
# they need to (1) track down the owners using git blame and (2) update CODEOWNERS.
* @sourcegraph/nobody

/.github/CODEOWNERS @sqs
/handbook @sqs
/company @sqs
/workflow @christinaforney
/direction @christinaforney
/blogposts @sourcegraph/marketing
/website @sourcegraph/marketing
/docs @sourcegraph/marketing

/handbook/product @christinaforney
/handbook/design @imtommyroberts 
/handbook/engineering @nicksnyder

/handbook/engineering/campaigns @sourcegraph/campaigns
/handbook/engineering/code-intelligence @sourcegraph/code-intel
/handbook/engineering/core-services @sourcegraph/core-services
/handbook/engineering/distribution @sourcegraph/distribution
/handbook/engineering/web @sourcegraph/web
/handbook/marketing @sourcegraph/marketing
