Repository sourcegraph/about, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sourcegraph/nobody, @sqs, @christinaforney, @sourcegraph/marketing, @beyang, @nicksnyder, @lguychard, @withdavidli, @tsenart, @aidaeology, @pecigonzalo, @chayim, @sourcegraph/engineering-leadership, @sourcegraph/campaigns, @sourcegraph/code-intel, @sourcegraph/cloud, @sourcegraph/distribution, @sourcegraph/security, @sourcegraph/web, @sourcegraph/search, @ebrodymoore, @dadlerj

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# https://help.github.com/articles/about-codeowners/
#
# Order is important; the last matching pattern takes the most
# precedence

# The "nobody" team is an alerting mechanism that indicates when there are files in a PR that are
# not owned by anyone. This is a signal to the PR author that certain modified files are unowned and
# they need to (1) track down the owners using git blame and (2) update CODEOWNERS.
* @sourcegraph/nobody

/.github/CODEOWNERS @sqs
/handbook @sqs
/company @sqs
/workflow @christinaforney
/direction @christinaforney
/blogposts @sourcegraph/marketing
/website @sourcegraph/marketing
/docs @sourcegraph/marketing
/podcast @beyang

# @sqs: I feel weird reviewing people's own biographies, so I'm intentionally marking this file as
# having no owner (and therefore no automatically assigned reviewer).
/company/team/index.md @sourcegraph/nobody

/handbook/product @christinaforney
/handbook/engineering @nicksnyder

/handbook/engineering/hiring/engineering-manager-web.md @nicksnyder @lguychard @withdavidli
/handbook/engineering/hiring/software-engineer-backend.md @nicksnyder @tsenart @withdavidli
/handbook/engineering/hiring/software-engineer-coding-exercise.md @nicksnyder
/handbook/engineering/hiring/software-engineer-code-intelligence.md @nicksnyder @aidaeology @withdavidli
/handbook/engineering/hiring/software-engineer-frontend.md @nicksnyder @lguychard @withdavidli
/handbook/engineering/hiring/software-engineer-distribution.md @nicksnyder @pecigonzalo @withdavidli
/handbook/engineering/hiring/software-engineer-security.md @nicksnyder @chayim @withdavidli

/handbook/engineering/leadership @sourcegraph/engineering-leadership
/handbook/engineering/campaigns @sourcegraph/campaigns
/handbook/engineering/code-intelligence @sourcegraph/code-intel
/handbook/engineering/cloud @sourcegraph/cloud
/handbook/engineering/distribution @sourcegraph/distribution
/handbook/engineering/security @sourcegraph/security
/handbook/engineering/web @sourcegraph/web
/handbook/engineering/search @sourcegraph/search
/handbook/engineering/languages/go.md @sourcegraph/cloud
/handbook/engineering/languages/typescript.md @sourcegraph/web
/handbook/engineering/languages/terraform.md @sourcegraph/distribution
/handbook/marketing @sourcegraph/marketing

/handbook/engineering/adding_ping_data.md @ebrodymoore @dadlerj

Added an s to http on some images to fix mixed content issue
  blogposts/2019/convoy-improved-their-developer-on-boarding-with-sourcegraph.md
  blogposts/liveblogs/strange-loop/strange-loop-2019-recreating-forgotten-programming-languages-for-art.md
Owners: @sourcegraph/marketing

Update onboarding to include demo
  handbook/people-ops/onboarding/index.md
Owners: @sqs

Update training.md (#1460)
  handbook/ce/training.md
Owners: @sqs

Update onboarding to include demo (#1506)
  handbook/people-ops/onboarding/index.md
Owners: @sqs

Update handbook/engineering/web/index.md
  handbook/engineering/web/index.md
Owners: @sourcegraph/web

update growth plan
  handbook/engineering/web/index.md
Owners: @sourcegraph/web

Added an s to http on some images to fix mixed content issue (#1505)
  blogposts/2019/convoy-improved-their-developer-on-boarding-with-sourcegraph.md
  blogposts/liveblogs/strange-loop/strange-loop-2019-recreating-forgotten-programming-languages-for-art.md
Owners: @sourcegraph/marketing

Update index.md
  company/team/index.md
Owners: @sourcegraph/nobody

Add long and medium term goals for the web team (#1433)
  handbook/engineering/web/index.md
Owners: @sourcegraph/web

Document slack channels
  handbook/engineering/leadership/index.md
Owners: @sourcegraph/engineering-leadership

Update handbook/engineering/leadership/index.md
  handbook/engineering/leadership/index.md
Owners: @sourcegraph/engineering-leadership

Update handbook/engineering/leadership/index.md
  handbook/engineering/leadership/index.md
Owners: @sourcegraph/engineering-leadership

Update index.md
  handbook/engineering/leadership/index.md
Owners: @sourcegraph/engineering-leadership

Document slack channels (#1507)
  handbook/engineering/leadership/index.md
Owners: @sourcegraph/engineering-leadership

list new Slack channel and user group
  handbook/engineering/campaigns/index.md
Owners: @sourcegraph/campaigns

Fix broken images and uncrawlable links
  blogposts/2016/thyme-a-simple-cli-to-measure-human-time-and-focus.md
  blogposts/2017/part-1-how-sourcegraph-scales-with-the-language-server-protocol.md
  blogposts/2019/announcing-sourcegraph-3.11.md
  blogposts/2019/announcing-sourcegraph-3.8.md
  blogposts/2020/announcing-sourcegraph-3.12.md
  blogposts/2020/announcing-sourcegraph-3.17.md
  blogposts/2020/find-and-replace.md
  blogposts/liveblogs/gophercon/an-introduction-to-go-tool-trace-rhys-hiltner.md
  blogposts/liveblogs/gophercon/creating-a-custom-serialization-format.md
  blogposts/liveblogs/gophercon/encrypting-the-internet-with-go-tutorial.md
  blogposts/liveblogs/gophercon/gophercon-2019-two-go-programs-three-different-profiling-techniques-in-50-minutes.md
  blogposts/liveblogs/gophercon/liveblog-articles-from-gophercon-2017.md
  blogposts/liveblogs/gophercon/writing-network-clients-in-go-the-design-and-implementation-of-the-nats-client.md
  blogposts/liveblogs/graphql-summit/liveblogging-graphql-summit-2017.md
  blogposts/liveblogs/strange-loop/strange-loop-2019-complexities-of-color-in-computing.md
  blogposts/liveblogs/strange-loop/strange-loop-2019-from-video-games-to-fashion-a-machine-learning-journey.md
  blogposts/liveblogs/strange-loop/strange-loop-2019-recreating-forgotten-programming-languages-for-art.md
Owners: @sourcegraph/marketing
