Repository sourcegraph/about, pull requests merged in 2020-08, with the labels that each got.

#1349 team: added IPA and a pronunciation link
  company/team/index.md
Labels: enhancement

#1383 website: address a11y issues from Lighthouse
  website/src/components/BlogPosts.tsx
  website/src/components/BrowserInstallButtons.tsx
  website/src/components/EventsList.tsx
  website/src/components/FeaturedBlogPosts.tsx
  website/src/components/Footer.tsx
  website/src/components/GetStarted.tsx
  website/src/components/Jumbotron.tsx
  website/src/components/Layout.tsx
  website/src/components/NewsList.tsx
  website/src/components/Sprinkles.tsx
  website/src/components/SprinklesHome.tsx
  website/src/components/TestimonialCarousel.tsx
  website/src/components/YouTube.tsx
  website/src/components/content/CaseStudyPage.tsx
  website/src/components/product/CustomerLogosSection.tsx
  website/src/components/product/GitLabIntegrationSection.tsx
  website/src/components/product/IntegratesWithSection.tsx
  website/src/css/components/_Footer.scss
  website/src/css/pages/_customers.scss
  website/src/css/pages/_podcast.scss
  website/src/pages/about.tsx
  website/src/pages/customers.tsx
  website/src/pages/developer-platform/index.tsx
  website/src/pages/index.tsx
  website/src/pages/jobs.tsx
  website/src/pages/podcast.tsx
  website/src/pages/resources/abcs-book.tsx
Labels: accessibility

#1369 Added goals to code intel team page
  handbook/engineering/code-intelligence/index.md
Labels: team/code-intelligence

#1414 cloud: Oncall
  handbook/engineering/cloud/index.md
  handbook/engineering/search/index.md
Labels: team/cloud

#1449 Security planning and communication changes
  handbook/engineering/security/index.md
Labels: team/security
