Repository sourcegraph/about, pull requests merged in 2020-09, with the labels that each got.

#1537 Updated code intel team process
  handbook/engineering/code-intelligence/index.md
Labels: handbook, team/code-intelligence

#1577 Fine-tune typography on blog posts
  blogposts/2020/optimizing-a-code-intelligence-indexer.md
  website/gatsby-config.js
  website/package.json
  website/src/components/blog/PodcastPost.tsx
  website/src/css/components/blog/_BlogPost.scss
  website/src/css/components/blog/_PodcastPost.scss
  website/src/css/pages/_podcast.scss
  website/src/css/templates/_PostTemplate.scss
Labels: blog

#1627 Remove code intel software engineering role
  company/careers.md
  handbook/engineering/code-intelligence/index.md
  handbook/engineering/hiring/index.md
  handbook/engineering/hiring/software-engineer-code-intelligence.md
Labels: handbook, team/code-intelligence

#1628 Add history of code intelligence
  handbook/engineering/code-intelligence/index.md
Labels: handbook, team/code-intelligence

#1656 Document 2-week iterations for the web team
  handbook/engineering/web/index.md
Labels: handbook
