Repository sourcegraph/about, pull requests merged in 2020-07, with the labels that each got.

#1148 distribution: Update meetings format
  handbook/engineering/distribution/recurring_processes.md
Labels: proposal

#1186 minor edits to index.md and style-guide.md for the week of 6 July 2020
  handbook/communication/index.md
  handbook/communication/style_guide.md
Labels: handbook

#1207 handbook: Percy account setup has changed
  handbook/engineering/testing.md
Labels: handbook

#1236 creation of blogs and images for the 3.18 release
  blogposts/2020/3.18/C++-precise-code.md
  blogposts/2020/3.18/images/expfeatures1.png
  blogposts/2020/3.18/images/expfeatures2.png
  blogposts/2020/3.18/images/searchacrossrev1.png
  blogposts/2020/3.18/images/searchacrossrev2.png
  blogposts/2020/3.18/indexed-non-master-branches.md
  blogposts/2020/3.18/search-across-revisions.md
Labels: marketing

#1242 Lh/3 18 release blogs
  blogposts/2020/3.18/C++-precise-code.md
  blogposts/2020/3.18/indexed-non-master-branches.md
  blogposts/2020/3.18/search-across-revisions.md
Labels: blog

#1249 3.18 release blog
  blogposts/2020/3.18/announcing-sourcegraph-3.18.md
Labels: blog

#1237 Add docs on how we style UI
  handbook/engineering/index.md
  handbook/engineering/web/styling.md
Labels: handbook

#1281 Add items to the Product onboarding
  handbook/product/onboarding/index.md
Labels: handbook
