Repository sourcegraph/about, pull requests merged in 2021-06, with the labels that each got.

#3202 Blog handbook updates
  handbook/marketing/content.md
  handbook/marketing/creating_blog_posts.md
  handbook/marketing/editing_blog_posts.md
  handbook/marketing/index.md
Labels: handbook, marketing

#3228 Add documentation for the Review Buddy system
  handbook/engineering/developer-insights/index.md
Labels: handbook-announce

#3261 New UI announcement post
  blogposts/2021/introducing-sourcegraphs-new-ui.md
Labels: blog

#3270 Change pitches to go to Asana form
  handbook/marketing/content.md
Labels: handbook, handbook-announce

#3332 Update guidance about numerals vs spelling out
  handbook/communication/content_guidelines/style_and_mechanics.md
Labels: handbook, handbook-announce

#3335 Create onboarding-feedback-milestones
  handbook/people-ops/onboarding/onboarding-feedback-milestones.md
Labels: handbook-announce

#3377 Add vulnerability disclosure policy
  handbook/engineering/security/reporting-vulnerabilities.md
Labels: handbook-announce

#3369 Create deconstructing the monolith post
  blogposts/2021/how-to-deconstruct-the-monolith.md
Labels: blog

#3409 Replace Asana form link
  handbook/marketing/content.md
Labels: handbook, marketing

#3410 Highlight dates, fiscal years/quarters and add tooltips that show the date in the user's local date format
  _resources/assets/content.css
  _resources/assets/dateHighlighter.js
  _resources/templates/root.html
Labels: handbook-announce

#3430 customer-first doc
  handbook/company/customer-first.md
  handbook/company/index.md
  handbook/support/index.md
Labels: handbook-announce

#3263 Create release-3.29.md
  blogposts/2021/release-3.29.md
Labels: blog

#3446 blog: How Not to Break a Search Engine
  blogposts/2021/how-to-not-break-a-search-engine-or-what-i-learned-about-unglamorous-engineering.md
Labels: blog

#3454 Update index.md
  handbook/people-ops/index.md
Labels: handbook-announce

#3469 New process for customer names in public places (avoids needing hubspot/salesforce access)
  handbook/communication/rfcs/index.md
  handbook/ops/bizops/customer_ops_tools.md
  handbook/product/surfacing_product_feedback.md
Labels: handbook-announce

#3458 Create content subdirectory in marketing, add team links to index
  handbook/index.md
  handbook/marketing/content/creating_blog_posts.md
  handbook/marketing/content/index.md
  handbook/marketing/index.md
Labels: handbook

#3474 Add tips for Google Calendar
  handbook/communication/index.md
  handbook/people-ops/onboarding/general_onboarding.md
Labels: handbook

#3460 Create Editorial handbook
  handbook/marketing/content/editorial.md
  handbook/marketing/content/index.md
  handbook/marketing/index.md
Labels: handbook

#3480 Adding product and engineering demo day documentation
  handbook/product/demo_day.md
  handbook/product/index.md
Labels: handbook-announce

#3360 Add + explain how to get google drive notifications in slack
  handbook/company/remote/teammate-recommended_productivity_hacks.md
Labels: handbook-announce
