Repository sourcegraph/about, pull requests merged in 2021-08, with the labels that each got.

#3973 Update API docs hero image to current logo
  blogposts/2021/api-documentation-generated-for-all-your-code.md
Labels: blog

#3954 Add engineering career development framework
  _resources/assets/content.css
  _resources/assets/document.css
  _resources/assets/layout.css
  handbook/engineering/career-development/CODENOTIFY
  handbook/engineering/career-development/framework.md
  handbook/engineering/career-development/index.md
  handbook/engineering/career-development/talent-review-process.md
  handbook/engineering/index.md
  handbook/engineering/roles.md
Labels: handbook-announce

#4148 templates: handle a document without any tree items correctly
  _resources/templates/document.html
Labels: bug, handbook

#4136 Async communication page
  handbook/company/asynchronous-communication.md
  handbook/company/index.md
  handbook/company/onepager-async.jpg
Labels: handbook-announce

#4142 Add Batch Changes onboarding docs per function
  handbook/engineering/batch-changes/index.md
Labels: handbook-announce

#4169 Update modern-health.md
  handbook/people-ops/modern-health.md
Labels: handbook-announce

#4189 Add details and process for compensation for user research participants
  handbook/product/design/research/index.md
  handbook/product/user_research/index.md
  handbook/product/user_research/user_research_compensation.md
Labels: handbook-announce

#4195 Update Okta.md
  handbook/ops/tech-ops/Okta.md
Labels: handbook-announce

#4188 Create Shopify podcast post
  podcast/3.1.md
Labels: blog

#4228 Document data structure in terminology guidelines
  handbook/communication/content_guidelines/terminology_guidelines.md
Labels: handbook

#4233 Dev Tool Time: Thorsten recap post
  blogposts/2021/dev-tool-time-thorsten-ball.md
Labels: blog

#4240 Add Hackathon snack stipend and prizes
  handbook/marketing/content/blog_hackathon.md
Labels: handbook

#4241 Build out what makes a good blog post
  handbook/marketing/content/editorial.md
Labels: handbook

#4247 Fix typo
  handbook/marketing/content/editorial.md
Labels: handbook

#4257 Add source of truth doc
  handbook/marketing/content/blog_hackathon.md
Labels: handbook

#4263 handbook/communication: Add link to Google Technical Writing
  handbook/communication/content_guidelines/index.md
Labels: handbook-announce

#4266 Update blog header
  website/src/components/blog/postTypes.tsx
Labels: blog

#4258 Add why we're hosting a hackathon
  handbook/marketing/content/blog_hackathon.md
Labels: handbook

#4273 Add Frontend Platform meeting guidelines
  handbook/engineering/developer-insights/frontend-platform/index.md
Labels: team/frontend-platform

#4227 Update the process for transitioning from Individual Contributor to Engineering Manager
  handbook/engineering/engineering-management.md
Labels: handbook-announce

#4242 Provide instructions for engineering promotion and compensation increase requests
  handbook/engineering/career-development/talent-review-process.md
  handbook/engineering/engineering-management.md
Labels: handbook-announce

#4274 Update Blog Hackathon date
  handbook/marketing/content/blog_hackathon.md
Labels: handbook-announce

#4277 Add links to editorial + blog handbooks from toc
  handbook/index.md
  handbook/marketing/index.md
Labels: handbook

#4279 Add link to editorial process from blog handbook
  handbook/marketing/content/creating_blog_posts.md
Labels: handbook

#4275 Add why Google dev tools post worked
  handbook/marketing/content/editorial.md
Labels: handbook

#4299 Add link to extensions video demos playlist
  handbook/engineering/developer-insights/extensibility/index.md
Labels: merge-on-any-approve

#4295 Add Hashimoto DTT recap
  blogposts/2021/dev-tool-time-mitchell-hashimoto.md
Labels: blog

#4303 Update language for better clarification on IC to EM transition
  handbook/engineering/engineering-management.md
  handbook/engineering/index.md
Labels: merge-on-any-approve, handbook-announce

#4132 Create christopher-chedeau.md
  podcast/2.5.md
Labels: blog
