Repository sourcegraph/about, pull requests merged in 2021-09, with the labels that each got.

#4394 Fix final draft due date
  handbook/marketing/content/blog_hackathon.md
Labels: handbook

#4413 CS org update
  handbook/support/index.md
Labels: handbook-announce

#4405 Add link to company copy of "Staff Engineer" by Will Larson
  handbook/engineering/career-development/framework.md
Labels: handbook-announce

#4144 Create release-3.31.md
  blogposts/2021/release-3.31.md
Labels: blog

#4444 Clarify priority blog content
  handbook/marketing/content/editorial.md
Labels: handbook

#4491 internal_infrastructure: Add username to gitolite URL
  handbook/engineering/distribution/internal_infrastructure.md
Labels: team/security

#4397 Overhaul guide to embed videos
  .prettierignore
  handbook/marketing/adding_screenshots_screen_recording.md
Labels: handbook-announce

#4551 Add new handbook slack channels
  handbook/communication/team_chat.md
Labels: handbook-announce

#4544 Gently remind authors of stale PRs
  .github/workflows/stale.yml
Labels: handbook-announce

#4518 Clarify use of the word license, free user, plan
  handbook/ce/enterprise-vs-oss.md
  handbook/product/licensing.md
Labels: handbook-announce

#4530 Add podcast post for Orta Therox
  podcast/2.6.md
Labels: blog

#4298 Update travel.md
  handbook/people-ops/travel.md
Labels: stale

#4569 Add Liz Fong-Jones DTT recap
  blogposts/2021/dev-tool-time-liz-fong-jones.md
Labels: blog

#4626 Clarify use of hyphens
  handbook/communication/content_guidelines/style_and_mechanics.md
Labels: handbook

#4280 Update Okta.md
  handbook/ops/tech-ops/Okta.md
Labels: stale

#4599 Add direction (vision, strategy, plans) template page
  handbook/product/product_management/direction_template.md
  handbook/product/product_management/index.md
Labels: handbook-announce

#4562 Batch Changes - update vision, strategy, plan page!
  handbook/engineering/batch-changes/direction.md
  handbook/engineering/batch-changes/goals.md
  handbook/engineering/batch-changes/index.md
  handbook/engineering/batch-changes/metrics.md
  handbook/product/index.md
Labels: handbook-announce

#4572 improve analytics section
  handbook/product/design/index.md
  handbook/product/design/metrics/amplitude-for-designers.md
  handbook/product/design/metrics/defining-metrics.md
  handbook/product/design/metrics/index.md
  handbook/product/design/tools/index.md
Labels: handbook-announce

#4666 Move Code Graph teams according to FY22Q3 reorg and create org page
  _resources/assets/redirects
  docsite.json
  handbook/engineering/code-graph/batch-changes/CODENOTIFY
  handbook/engineering/code-graph/batch-changes/ce-onboarding.md
  handbook/engineering/code-graph/batch-changes/direction.md
  handbook/engineering/code-graph/batch-changes/index.md
  handbook/engineering/code-graph/batch-changes/metrics.md
  handbook/engineering/code-graph/batch-changes/onboarding.md
  handbook/engineering/code-graph/batch-changes/roadmap-updated-2021-02-12.png
  handbook/engineering/code-graph/batch-changes/supporting-batch-changes.md
  handbook/engineering/code-graph/code-insights/CODENOTIFY
  handbook/engineering/code-graph/code-insights/goals.md
  handbook/engineering/code-graph/code-insights/goals_completed.md
  handbook/engineering/code-graph/code-insights/index.md
  handbook/engineering/code-graph/code-insights/processes.md
  handbook/engineering/code-graph/code-insights/project_planning.svg
  handbook/engineering/code-graph/code-insights/roadmap.svg
  handbook/engineering/code-graph/code-insights/screenshot.svg
  handbook/engineering/code-graph/code-intelligence/CODENOTIFY
  handbook/engineering/code-graph/code-intelligence/code-walkthrough.md
  handbook/engineering/code-graph/code-intelligence/goals.md
  handbook/engineering/code-graph/code-intelligence/index.md
  handbook/engineering/code-graph/index.md
  handbook/engineering/code-graph/search/CODENOTIFY
  handbook/engineering/code-graph/search/core.md
  handbook/engineering/code-graph/search/goals.md
  handbook/engineering/code-graph/search/goals_completed.md
  handbook/engineering/code-graph/search/index.md
  handbook/engineering/code-graph/search/iteration_log.md
  handbook/engineering/code-graph/search/iteration_log_archive.md
  handbook/engineering/code-graph/search/perf.md
  handbook/engineering/code-graph/search/product.md
  handbook/engineering/code-graph/search/roadmap.svg
  handbook/engineering/developer-insights/CODENOTIFY
  handbook/engineering/developer-insights/index.md
  handbook/engineering/eng_org.md
  handbook/engineering/vpe/index.md
  handbook/index.md
  handbook/product/index.md
  handbook/product/product_org.md
  handbook/support/eng-support-learn-from-eachother.md
  handbook/support/engaging-other-teams.md
Labels: handbook-announce

#4676 Create Impact reviews page and add infographic
  handbook/people-ops/impact-reviews.md
Labels: handbook-announce

#4685 Fix quotation marks in DTT titles
  blogposts/2021/dev-tool-time-leah-culver.md
  blogposts/2021/dev-tool-time-mitchell-hashimoto.md
  blogposts/2021/dev-tool-time-thorsten-ball.md
Labels: blog

#4741 Add guidance re: uploading images to GCP bucket
  handbook/marketing/content/creating_blog_posts.md
Labels: handbook

#4743 Correct quotation marks in past DTT posts
  blogposts/2021/dev-tool-time-leah-culver.md
  blogposts/2021/dev-tool-time-liz-fong-jones.md
  blogposts/2021/dev-tool-time-mitchell-hashimoto.md
  blogposts/2021/dev-tool-time-thorsten-ball.md
Labels: blog

#4748 Improve SEO of DE&I page
  handbook/communication/dei.md
Labels: handbook

#4723 Create DTT Paul Jolly recap post
  blogposts/2021/dev-tool-time-paul-jolly.md
Labels: blog

#4522 Update support-schedule.md
  handbook/support/support-schedule.md
Labels: stale

#4607 Create calendar blog post
  blogposts/2021/show-us-your-calendar.md
Labels: blog

#4668 Reference customer names
  handbook/ops/bizops/customer_ops_tools.md
  handbook/product/product_management/prioritizing.md
  handbook/product/product_management/user_feedback.md
Labels: handbook-announce

#4791 How we used universal code search to eliminate secrets from our codebase
  blogposts/2021/eliminating-secrets-from-codebase.md
  website/src/css/components/blog/_BlogPost.scss
Labels: blog

#4820 Clarify what blog documentation is for
  handbook/marketing/content/creating_blog_posts.md
Labels: handbook

#4835 Convert Brand Guidelines from PDF to Markdown
  _resources/assets/content.css
  _resources/assets/layout.css
  handbook/marketing/brand/brand_guidelines.md
  handbook/marketing/brand/brand_guidelines/brand-expression.md
  handbook/marketing/brand/brand_guidelines/color.md
  handbook/marketing/brand/brand_guidelines/color/color_misuse_ada.svg
  handbook/marketing/brand/brand_guidelines/color/color_misuse_ada_ui.svg
  handbook/marketing/brand/brand_guidelines/color/color_misuse_contrast.svg
  handbook/marketing/brand/brand_guidelines/color/color_misuse_new_colors.svg
  handbook/marketing/brand/brand_guidelines/color/color_misuse_saturate.svg
  handbook/marketing/brand/brand_guidelines/color/color_misuse_too_many_colors.svg
  handbook/marketing/brand/brand_guidelines/color/color_use_1.svg
  handbook/marketing/brand/brand_guidelines/color/color_use_2.svg
  handbook/marketing/brand/brand_guidelines/how_we_express_our_brand.svg
  handbook/marketing/brand/brand_guidelines/index.md
  handbook/marketing/brand/brand_guidelines/logo.md
  handbook/marketing/brand/brand_guidelines/logo/history/2013.svg
  handbook/marketing/brand/brand_guidelines/logo/history/2014.svg
  handbook/marketing/brand/brand_guidelines/logo/history/2015.1.svg
  handbook/marketing/brand/brand_guidelines/logo/history/2015.2.svg
  handbook/marketing/brand/brand_guidelines/logo/history/2017.svg
  handbook/marketing/brand/brand_guidelines/logo/history/2020.svg
  handbook/marketing/brand/brand_guidelines/logo/logo_placement.svg
  handbook/marketing/brand/brand_guidelines/logo/minimum_digital_logo_size.svg
  handbook/marketing/brand/brand_guidelines/logo/minimum_print_logo_size.svg
  handbook/marketing/brand/brand_guidelines/logo/versions/Sourcegraph_Logo_1c_black.svg
  handbook/marketing/brand/brand_guidelines/logo/versions/Sourcegraph_Logo_1c_white.svg
  handbook/marketing/brand/brand_guidelines/logo/versions/Sourcegraph_Logo_FullColor_dark.svg
  handbook/marketing/brand/brand_guidelines/logo/versions/Sourcegraph_Logo_FullColor_light.svg
  handbook/marketing/brand/brand_guidelines/logo/versions/Sourcegraph_Logomark_BLK.svg
  handbook/marketing/brand/brand_guidelines/logo/versions/Sourcegraph_Logomark_Color.svg
  handbook/marketing/brand/brand_guidelines/logo/versions/Sourcegraph_Logomark_WHT.svg
  handbook/marketing/brand/brand_guidelines/logo/versions/Sourcegraph_Wordmark_BLK.svg
  handbook/marketing/brand/brand_guidelines/typography.md
Labels: handbook, handbook-announce

#4000 fix typo
  handbook/support/FY22Q2-OKR-Plan.md
Labels: stale

#4817 Rethinking RFCs
  handbook/communication/index.md
  handbook/communication/rfcs/index.md
Labels: handbook-announce

#4799 Dependencies blog post
  blogposts/2021/nine-circles-of-dependency-hell.md
Labels: blog

#4858 Update timelines and exceptions to Impact review timelines
  handbook/people-ops/impact-reviews.md
Labels: handbook-announce

#4745 Submitting a GitHub issue and how the product team processes them
  handbook/product/product_management/responding_to_user_feedback.md
  handbook/product/product_management/user_feedback.md
  handbook/product/surfacing_product_feedback.md
Labels: handbook-announce

#4876 Update triage filter used by frontend-platform
  handbook/engineering/enablement/frontend-platform/index.md
Labels: team/frontend-platform
