Repository sourcegraph/about, pull requests merged in 2021-05, with the labels that each got.

#3032 Add Kelli to team!
  company/team/index.md
  company/team/locations.geojson
  handbook/engineering/batch-changes/index.md
Labels: handbook

#3031 Add FY22 Q2 roadmap to Extensibility goals page
  handbook/engineering/developer-insights/extensibility/goals.md
Labels: merge-on-all-approve

#3055 Fix typo, update GitHub app setup command
  handbook/engineering/github-notifications/index.md
Labels: handbook

#3061 Add section on adding redirects for the handbook
  handbook/editing.md
Labels: handbook-announce

#3074 Add Turn the Ship Around and Orbiting the Giant Hairball to eng onboarding
  handbook/engineering/onboarding/software-engineer-onboarding.md
Labels: handbook-announce

#2635 Add "Where Sourcegraph is deployed" section
  handbook/engineering/index.md
Labels: handbook

#3114 add amplitude docs
  handbook/ops/bizops/amplitude.md
  handbook/ops/bizops/analytics.md
  handbook/ops/bizops/index.md
Labels: handbook-announce

#3097 Batch changes ce onboarding
  handbook/ce/onboarding.md
  handbook/engineering/batch-changes/ce-onboarding.md
  handbook/engineering/batch-changes/index.md
Labels: handbook-announce

#3153 Integrate Swiftype search for handbook
  _resources/assets/layout.css
  _resources/templates/root.html
Labels: handbook-announce

#3163 Define temporary engineering management positions
  handbook/engineering/engineering-management.md
  handbook/engineering/roles.md
Labels: handbook-announce

#2431 blogpost: Optimizing the code intelligence commit graph
  blogposts/2021/optimizing-a-code-intelligence-commit-graph-1.md
  blogposts/2021/optimizing-a-code-intelligence-commit-graph-2.md
  website/static/blog/optimizing-code-intelligence-commit-graph.png
Labels: team/code-intelligence

#3179 Update Firefox handbook shortcut instructions
  handbook/usage.md
Labels: handbook-announce

#3188 Improve Handbook header
  _resources/assets/document.css
  _resources/assets/layout.css
  _resources/templates/root.html
Labels: handbook-announce
