Repository sourcegraph/about, pull requests merged in 2021-07, with the labels that each got.

#3504 Remove old livestream events marketing page
  handbook/marketing/livestream.md
Labels: handbook

#3452 Add security IR policy
  handbook/engineering/security/index.md
  handbook/engineering/security/security-incident-response.md
Labels: handbook-announce

#3503 Refresh personal pronoun guidelines, add suggestion to use new Zoom pronouns setting
  handbook/people-ops/personal-pronouns.md
Labels: handbook, handbook-announce

#3527 Update Rebecca's location
  handbook/company/team/index.md
Labels: handbook

#3489 A/B testing philosophy and process
  handbook/ops/bizops/ab-testing.md
  handbook/ops/bizops/index.md
Labels: handbook-announce

#3601 Remove reference to categories "below"
  handbook/marketing/content/editorial.md
Labels: handbook

#3628 Add links to other onboarding posts from podcast
  podcast/2.1.md
Labels: blog

#3655 Add Amplitude to our tools
  handbook/product/index.md
Labels: handbook-announce

#3706 Add explicit funnel metrics for Sourcegraph cloud
  handbook/ops/bizops/user_definitions.md
Labels: handbook-announce

#3697 Update customer data policy for Cloud
  handbook/ops/bizops/customer_data_policy.md
Labels: handbook-announce

#3735 handbook: fix a couple of outdated references to master
  handbook/engineering/incidents/index.md
  handbook/engineering/index.md
Labels: handbook

#3736 Update company spending types and travel phase II
  handbook/people-ops/travel.md
Labels: handbook-announce

#3701 Dev Tool Time: Leah Culver recap
  blogposts/2021/dev-tool-time-leah-culver.md
Labels: blog

#3762 Fix bulleted lists on brand requests page
  handbook/marketing/brand/brand_and_creative_team_requests.md
Labels: handbook

#3768 remove title "Sourcegraph for Github"
  website/src/pages/uninstall.tsx
Labels: merge-on-any-approve

#3764 How to create a community landing page
  handbook/marketing/index.md
  handbook/marketing/oss_community_pages.md
Labels: handbook-announce

#3760 Add title to mental health page
  handbook/people-ops/mental-health.md
Labels: handbook

#3779 Add interviewing option for contributing to blog
  handbook/marketing/content/editorial.md
Labels: handbook, handbook-announce

#3780 Full image path for social
  blogposts/2021/announcing-our-series-d-funding-to-expand-universal-code-search.md
  blogposts/2021/the-future-of-code-search.md
Labels: blog

#3781 Full image path for social (commit graph post)
  blogposts/2021/optimizing-a-code-intelligence-commit-graph-1.md
  blogposts/2021/optimizing-a-code-intelligence-commit-graph-2.md
Labels: blog

#3712 Update metrics collection
  handbook/product/design/design_process.md
Labels: #handbook-announce

#3568 Document how to notice and fix if the handbook fails to pass checks
  handbook/editing.md
Labels: handbook-announce

#3783 Blog post inspiration
  handbook/marketing/content/editorial.md
Labels: handbook, handbook-announce

#3788 Document what "beta" and "experimental" actually mean, beyond the customer-facing support explanation doc
  handbook/product/beta_and_experimental_feature_labels.md
  handbook/product/index.md
Labels: handbook-announce, merge-on-any-approve

#3813 Add guidance for hiring early-career engineers
  handbook/engineering/hiring/early-career-engineers.md
  handbook/engineering/hiring/index.md
  handbook/engineering/index.md
Labels: handbook-announce

#3832 How to use relative paths
  handbook/editing.md
Labels: handbook-announce

#3794 Create Blog Hackathon page
  handbook/marketing/content/blog_hackathon.md
  handbook/marketing/content/index.md
Labels: handbook, handbook-announce

#3850 Update date, link to podcast homepage
  podcast/2.2.md
  podcast/2.3.md
Labels: blog

#3815 Sneak peek: API documentation generated for all your code
  blogposts/2021/api-documentation-generated-for-all-your-code.md
Labels: blog

#3731 Create release-3.30.md
  blogposts/2021/release-3.30.md
  website/src/components/blog/ReleasePost.tsx
Labels: blog

#3715 Decision-making at Sourcegraph
  handbook/communication/conflicts.md
  handbook/communication/decisions.md
  handbook/communication/index.md
  handbook/company/goals/guidelines.md
  handbook/company/values.md
  handbook/product/planning.md
Labels: handbook-announce

#3914 Update the minimum engineering team size guideline
  handbook/engineering/eng_org.md
Labels: handbook-announce, merge-on-any-approve

#2737 handbook: first pass at defining the word "licence"
  handbook/community/faq.md
  handbook/product/index.md
  handbook/product/licensing.md
Labels: team/batchers

#3864 Managed instance cost calculation guidance
  handbook/engineering/distribution/managed/cost_estimation.md
Labels: docs, team/distribution

#3896 Bring handbook design more in line with our Brand Guidelines
  _resources/assets/content.css
  _resources/assets/document.css
  _resources/assets/layout.css
  _resources/assets/sourcegraph-logo.svg
  _resources/assets/sourcegraph-mark.png
  _resources/assets/sourcegraph-mark.svg
  _resources/templates/root.html
Labels: handbook-announce

#3944 Define working groups
  handbook/communication/index.md
  handbook/communication/working-group.md
Labels: handbook-announce
