Repository sourcegraph/about, pull requests merged in 2021-01, with the labels that each got.

#2242 Add our soon-to-be PM to the campaigns page.
  handbook/engineering/campaigns/index.md
Labels: team/campaigns

#2339 campaigns: update to the new status gathering workflow
  handbook/engineering/campaigns/index.md
Labels: handbook

#2361 3.24 release blog
  blogposts/2021/feature-removal-interactive-search-mode.md
  blogposts/2021/release-3.24.md
Labels: blog, marketing
