Repository sourcegraph/about, pull requests merged in 2022-08, with the labels that each got.

#5639 Host Go beyond search pdf
  public/guides/transform-your-codebase-into-knowledge-actions-and-insights.pdf
Labels: team/content-platform, marketing-request, high priority

#5640 Devs thoughts pdf
  public/guides/dev-thoughts-on-productivity.pdf
Labels: team/content-platform, marketing-request, high priority

#5643 Adjust Video instructions & remove unneeded prop
  content/blogposts/2021/dev-tool-time-adam-gordon-bell.md
  content/blogposts/2021/dev-tool-time-amir-rajan.md
  content/blogposts/2021/dev-tool-time-liz-fong-jones.md
  content/blogposts/2021/dev-tool-time-primeagen.md
  content/blogposts/2021/dev-tool-time-roger-peppe.md
  content/blogposts/2022/jetbrains-plugin.md
  content/blogposts/2022/release-3.42.md
  content/blogposts/2022/shift-left-wtf-does-it-mean.md
  content/blogposts/blog-post-starter-pack.md
  src/components/Video.tsx
  src/pages/batch-changes.tsx
  src/pages/code-insights.tsx
  src/pages/code-search.tsx
Labels: team/content-platform, marketing-request

#5649 Update 'More than search' pdf & add to related resources
  public/blog/thumbnails/dark-multi-grid.jpg
  public/guides/key-traits-of-a-code-intelligence-platform.pdf
  src/pages/code-insights.tsx
  src/pages/use-cases/code-health.tsx
  src/pages/use-cases/code-reuse.tsx
  src/pages/use-cases/onboarding.tsx
Labels: team/content-platform, marketing-request

#5653 Add Adam Berry podcast (season 3, episode 4)
  content/podcast/3.4.md
Labels: podcast

#5659 Updated DPA pdf
  public/dpa.pdf
Labels: team/content-platform, marketing-request, added-mid-sprint, low priority

#5655 Codecov Case Study/headshots
  public/case-studies/jeff-holland.png
  public/case-studies/jerrod-engelberg.png
  public/case-studies/mitchell-borrego.jpg
  src/components/CaseStudies/AuthorBio.tsx
  src/components/ProductHero.tsx
  src/pages/batch-changes.tsx
  src/pages/case-studies/codecov-uses-sourcegraph-to-resolve-incidents-faster.tsx
  src/pages/case-studies/nutanix-fixed-log4j-with-sourcegraph.tsx
  src/pages/code-insights.tsx
  src/pages/code-search.tsx
Labels: team/content-platform, marketing-request

#5658 Workshops/above the code
  public/bg-images/bg-code-aquamarine-mobile.png
  public/bg-images/bg-code-aquamarine.png
  public/bg-images/bg-code-mars-mobile.png
  public/bg-images/bg-code-mars.png
  public/staff/emily-chapman.png
  public/staff/murat-sutunc.png
  src/components/Carousels/CustomCarousel.tsx
  src/components/DemioForm.tsx
  src/components/GatedResourceLayout.tsx
  src/components/Hero.tsx
  src/components/HubSpotForm.tsx
  src/components/ProductHero.tsx
  src/components/TwoColumnSection.tsx
  src/components/index.ts
  src/pages/2022-gartner-cool-vendors-in-software-engineering.tsx
  src/pages/batch-changes.tsx
  src/pages/case-studies/codecov-uses-sourcegraph-to-resolve-incidents-faster.tsx
  src/pages/case-studies/nutanix-fixed-log4j-with-sourcegraph.tsx
  src/pages/code-insights.tsx
  src/pages/code-intelligence-platform.tsx
  src/pages/code-search.tsx
  src/pages/contact/data.ts
  src/pages/guides/continuous-developer-onboarding.tsx
  src/pages/guides/dev-onboarding-how-is-it-unique.tsx
  src/pages/guides/fixing-vulnerabilities-less-is-more.tsx
  src/pages/guides/how-google-fixes-vulnerabilities.tsx
  src/pages/guides/optimizing-developer-onboarding.tsx
  src/pages/webinars/code-insights-turning-your-metrics-into-action.tsx
  src/pages/webinars/preparing-for-the-next-log4j.tsx
  src/pages/workshops/above-the-code-sourcegraph-vs-code-extension.tsx
Labels: team/content-platform, marketing-request, medium priority

#5661 Host PDF for Cloud cost optimization
  public/guides/cloud-cost-optimization-create-visibility.pdf
Labels: team/content-platform, marketing-request, added-mid-sprint, sprint-rollover

#5671 Add hero and social images
  content/blogposts/2022/cloud-optimization-part-1-visibility.md
Labels: about-blog

#5675 Sourcegraph 4.0 Landing Page
  package.json
  public/icons/batch-changes.svg
  src/components/Badge.tsx
  src/components/CaseStudies/NewCaseStudyLayout.tsx
  src/components/ContentSection.tsx
  src/components/CtaSection.tsx
  src/components/Install/index.tsx
  src/components/Layout/index.tsx
  src/components/Portal.ts
  src/components/RequestDemoTrySourcegraph.tsx
  src/components/ThreeUpText.tsx
  src/components/index.ts
  src/components/modal.tsx
  src/pages/sourcegraph-4.tsx
  tailwind.config.js
  yarn.lock
Labels: team/content-platform

#5672 Add Zig design approach post
  content/blogposts/2022/zig-programming-language-revisiting-design-approach.md
Labels: about-blog

#5701 Update 2 hosted PDFs
  public/guides/data-driven-relationships-with-codebases.pdf
  public/guides/transform-your-codebase-into-knowledge-actions-and-insights.pdf
Labels: team/content-platform, marketing-request, sprint-rollover, low priority

#5703 Sourcegraph 4.0 banner and copy update
  public/sourcegraph/sourcegraph-4-starship.svg
  src/pages/home/_Banner.tsx
  src/pages/home/_Hero.tsx
  src/pages/home/index.tsx
  src/styles/globals.css
Labels: team/content-platform

#5705 Move video to top
  content/blogposts/2022/zig-programming-language-revisiting-design-approach.md
Labels: about-blog
