Repository sourcegraph/about, pull requests merged in 2022-03, with the labels that each got.

#5160 Create Kelly Norton post
  podcast/2.18.md
Labels: about-blog

#5182 Update onboarding advice post
  blogposts/2021/better-onboarding-prevent-codebase-overwhelm.md
Labels: about-blog

#5159 Create CSS Modules migration post
  blogposts/2022/css-modules-migration.md
Labels: about-blog

#5202 Final edits to onboarding post
  blogposts/2021/better-onboarding-prevent-codebase-overwhelm.md
Labels: about-blog

#5207 Dev Onboarding Guide Page
  website/src/css/_colors.scss
  website/src/hooks/hubSpot.ts
  website/src/pages/guides/continuous-developer-onboarding/index.module.scss
  website/src/pages/guides/continuous-developer-onboarding/index.tsx
  website/static/guides/dev-onboarding/hero-mobile.png
  website/static/guides/dev-onboarding/hero.png
  website/static/guides/dev-onboarding/sg-continuous-developer-onboarding.pdf
Labels: team/content-platform, marketing-request

#5217 HubSpot Hook API Fix
  website/src/hooks/hubSpot.ts
  website/src/pages/accelerate-dev-onboarding.tsx
  website/src/pages/fixing-vulnerabilities.tsx
  website/src/pages/guides/continuous-developer-onboarding/index.tsx
Labels: bug

#5227 Update @sourcegraph/event-logger dependency
  website/package.json
  website/yarn.lock
Labels: merge-on-any-approve

#5224 Demo Page
  website/src/components/Header.tsx
  website/src/components/TrySourcegraph.tsx
  website/src/components/content/CaseStudyPage.tsx
  website/src/components/product/CustomerLogosSectionAnimated.tsx
  website/src/pages/demo.tsx
  website/src/pages/index.tsx
  website/src/pages/use-cases/index.tsx
  website/src/pages/use-cases/onboarding.tsx
  website/src/pages/use-cases/vulnerabilities.tsx
Labels: team/content-platform, marketing-request
