Repository sourcegraph/about, pull requests merged in 2022-11, with the labels that each got.

#5895 add blogpost: openssl vuln
  content/blogposts/2022/openssl-307-vulnerabilities.md
Labels: about-blog

#5896 Final edits
  content/blogposts/2022/openssl-307-vulnerabilities.md
Labels: about-blog

#5904 Add OpenSSL Python demo to code-insights
  src/components/CodeInsights/mock-data.tsx
  src/pages/code-insights.tsx
Labels: growth

#5907 Update poetry.lock query
  content/blogposts/2022/openssl-307-vulnerabilities.md
Labels: about-blog

#5909 Add back 'Request a demo' CTAs
  CODENOTIFY
  src/components/CtaSection/index.tsx
  src/pages/home/_Hero.tsx
  src/util/index.ts
  src/util/plausible.ts
Labels: analytics, team/growth-marketing

#5910 Search code link in top nav
  src/components/CtaSection/index.tsx
  src/components/Layout/Header/DesktopNav.tsx
  src/components/Layout/Header/MobileNav.tsx
  src/components/Layout/navLinks.tsx
Labels: team/growth-marketing

#5913 Add Typeform guest blog post
  content/blogposts/2022/batch-changes-ospo.md
Labels: about-blog

#5915 Unpublish Typeform post temporarily
  content/blogposts/2022/batch-changes-ospo.md
Labels: about-blog

#5917 Fixes for Typeform blog post
  content/blogposts/2022/batch-changes-ospo.md
  src/styles/components/blog/_BlogPost.scss
Labels: about-blog

#5889 3.5.md Ritza sample edit
  content/podcast/3.5.md
Labels: podcast

#5918 Update to Next.js 13
  .gitignore
  package.json
  src/components/BackButton.tsx
  src/components/Blockquote.tsx
  src/components/Blog/BlogHeader.tsx
  src/components/Blog/LinkPost.tsx
  src/components/Blog/PodcastListItem.tsx
  src/components/Blog/PostLayout.tsx
  src/components/Blog/PostListItem.tsx
  src/components/Blog/ReleasePost.tsx
  src/components/CaseStudies/CaseStudyCard.tsx
  src/components/CodeInsights/components/line-chart/components/MaybeLink.tsx
  src/components/CodeInsights/mock-data.tsx
  src/components/CoreFeatures.tsx
  src/components/CtaSection/index.tsx
  src/components/CustomerLogos.tsx
  src/components/Layout/Footer.tsx
  src/components/Layout/Header/MobileNav.tsx
  src/components/ResourceList.tsx
  src/components/Resources/Card.tsx
  src/pages/batch-changes.tsx
  src/pages/case-studies/indeed-accelerates-development-velocity.tsx
  src/pages/case-studies/nutanix-fixed-log4j-with-sourcegraph.tsx
  src/pages/case-studies/sofi-moves-fast-on-hundreds-of-microservices.tsx
  src/pages/case-studies/workiva-automates-large-scale-code-changes.tsx
  src/pages/code-insights.tsx
  src/pages/code-intelligence-platform.tsx
  src/pages/code-search.tsx
  src/pages/contact/index.tsx
  src/pages/hackathons.tsx
  src/pages/home/_Hero.tsx
  src/pages/pricing.tsx
  src/pages/resources/abcs-book.tsx
  src/pages/shift-left-the-good-parts.tsx
  src/pages/sourcegraph-4.tsx
  src/pages/use-cases/code-health.tsx
  src/pages/use-cases/code-reuse.tsx
  src/pages/use-cases/code-security.tsx
  src/pages/use-cases/incident-response.tsx
  src/pages/use-cases/index.tsx
  src/pages/use-cases/onboarding.tsx
  src/pages/webinars/preparing-for-the-next-log4j.tsx
  yarn.lock
Labels: enhancement, tech debt

#5914 blogpost: Ranking deep dive
  content/blogposts/2022/ranking-in-a-week.md
Labels: about-blog

#5919 New code search animation
  public/animations/code-search.mp4
  public/animations/code-search.webm
Labels: team/growth-marketing

#5920 Neo Financial Case Study
  public/case-studies/ronnie-magatti.png
  public/case-studies/sean-heintz.png
  public/external-logos/neo-financial.svg
  src/components/CaseStudies/CaseStudyCard.tsx
  src/components/CaseStudies/NewCaseStudyLayout.tsx
  src/components/CaseStudies/StaffSpotlight.tsx
  src/components/CaseStudies/UseChallengeSolutionResults.tsx
  src/pages/case-studies/neo-financial-improves-the-developer-experience-with-sourcegraph.tsx
Labels: team/growth-marketing
