Repository sourcegraph/about, pull requests merged in 2022-07, with the labels that each got.

#5526 Update Criteo logo
  public/external-logos/criteo-logo.svg
  public/external-logos/criteo-white-logo.svg
  src/components/CaseStudies/CaseStudyCard.module.scss
  src/components/CaseStudies/CaseStudyJumbotron.tsx
  src/components/Layout/Header/DesktopNav.tsx
  src/pages/case-studies/criteo-tackles-big-code.tsx
  src/pages/case-studies/index.tsx
  src/styles/components/_Header.scss
Labels: team/content-platform, marketing-request, sprint-rollover, medium priority

#5548 copy changes, add link to Cloudflare logo
  src/components/CustomerLogos.tsx
  src/pages/get-started/self-hosted.tsx
  src/pages/use-cases/index.tsx
  src/styles/globals.scss
Labels: team/content-platform

#5565 Host new PDF: Build vs buy
  public/guides/things-to-know-before-building-a-code-search-tool.pdf
Labels: team/content-platform, marketing-request, high priority

#5568 Update SG Overview pdf
  public/handouts/Sourcegraph-Overview.pdf
Labels: team/content-platform, marketing-request, added-mid-sprint

#5556 [A11y]: Comply text colors w/ WCAG standards > 'text-muted'
  src/components/Blockquote.tsx
  src/components/Blog/LinkPost.tsx
  src/components/Blog/PostLayout.tsx
  src/components/Blog/postTypes.tsx
  src/components/BlogResourceItem.tsx
  src/components/IntegrationsSection.tsx
  src/components/Layout/Footer.tsx
  src/components/Layout/Header/MobileNav.tsx
  src/components/Podcast/PodcastSubscribeLinks.tsx
  src/components/Pricing/PricingPlan.tsx
  src/components/Pricing/PricingPlanFeature.tsx
  src/components/Pricing/PricingPlanProperty.tsx
  src/components/TrySourcegraph.tsx
  src/pages/accelerate-dev-onboarding.tsx
  src/pages/case-studies/index.tsx
  src/pages/code-insights.tsx
  src/pages/fixing-vulnerabilities.tsx
  src/pages/news/index.tsx
  src/pages/pricing.tsx
  src/pages/use-cases/code-security.tsx
  src/pages/use-cases/onboarding.tsx
  src/styles/_colors.scss
  src/styles/components/_Footer.scss
  src/styles/components/pricing/_PricingPlan.scss
  src/styles/components/pricing/_PricingPlanFeature.scss
  src/styles/components/pricing/_PricingPlanProperty.scss
  src/styles/components/pricing/index.scss
  src/styles/globals.scss
  src/styles/pages/_pricing.scss
Labels: accessibility, team/content-platform, sprint-rollover, wcag/2.1, wcag/2.1/fixing

#5573 Host new PDF: It's more than search - key traits of a code intelligence platform
  public/guides/key-traits-of-a-code-intelligence-platform.pdf
Labels: team/content-platform, marketing-request, added-mid-sprint

#5570 Discord replaces Twitch in Footer
  src/components/Layout/Footer.tsx
Labels: team/content-platform, added-mid-sprint, individual-request

#5579 bugfix/ Fix Sourcegraph* typo
  content/blogposts/2017/why-chris-joined-sourcegraph.md
  content/blogposts/2021/announcing-our-series-d-funding-to-expand-universal-code-search.md
  content/blogposts/2021/career-framework.md
  content/blogposts/2021/workspaces-of-sourcegraph.md
  src/pages/home/index.tsx
Labels: bug fix

#5587 Replace Amazon logo
  src/components/CustomerLogos.tsx
  src/pages/get-started/cloud.tsx
  src/pages/get-started/index.tsx
  src/pages/get-started/self-hosted.tsx
Labels: team/content-platform, marketing-request, team/content-marketing, sprint-rollover, medium priority

#5589 Cloudeflare case study link
  src/components/CustomerLogos.tsx
Labels: team/content-platform, marketing-request

#5588 Adds @sqs `About the author` section
  content/blogposts/2016/appdash-an-open-source-perf-tracing-suite.md
  content/blogposts/2016/building-a-product-one-user-interview-at-a-time.md
  content/blogposts/2016/getting-started-with-sourcegraph.md
  content/blogposts/2016/sourcegraph-the-best-way-to-read-code-just-got-better.md
  content/blogposts/2016/the-pain-of-code-review-how-different-teams-manage-scale-and-perform-code-reviews.md
  content/blogposts/2016/the-sourcegraph-test-v0-9-12-more-steps-to-better-code.md
  content/blogposts/2016/toward-a-url-for-every-function-in-the-world.md
  content/blogposts/2016/why-vacation-at-tech-companies-should-be-mandatory-better-code-happier-people.md
  content/blogposts/2017/announcing-sourcegraph-2.md
  content/blogposts/2017/building-toward-the-sourcegraph-master-plan.md
  content/blogposts/2017/go-code-intelligence-on-sourcegraph-now-in-general-availability-ga.md
  content/blogposts/2017/great-code-search-bad-code-search.md
  content/blogposts/2017/introducing-code-search-in-sourcegraph.md
  content/blogposts/2017/introducing-sourcegraph-server-2-3.md
  content/blogposts/2017/more-powerful-code-search-on-sourcegraph.md
  content/blogposts/2017/regexp-queries-directories-openid-connect-and-more-updates-to-sourcegraph.md
  content/blogposts/2018/dotcom-new-language-support.md
  content/blogposts/2018/how-sourcegraph-builds-sourcegraph.md
  content/blogposts/2018/introducing-sourcegraph-2-7.md
  content/blogposts/2018/introducing-sourcegraph-server-2-4.md
  content/blogposts/2018/introducing-sourcegraph-server-2-5.md
  content/blogposts/2018/introducing-sourcegraph-server-2-6.md
  content/blogposts/2018/powerful-code-search-for-bitbucket-server.md
  content/blogposts/2018/sourcegraph-2-8-19-languages-ridiculously-huge-monorepos-lsp-a-graphql-api.md
  content/blogposts/2018/sourcegraph-2-9-announcement-code-search-user-rollout-in-large-organizations.md
  content/blogposts/2019/announcing-sourcegraph-3.0-beta.md
  content/blogposts/2019/announcing-sourcegraph-3.0.md
  content/blogposts/2019/announcing-sourcegraph-3.9.md
  content/blogposts/2019/code-navigation-in-github-pull-requests.md
  content/blogposts/2020/code-search-in-monorepos.md
  content/blogposts/2020/felicis-investment-fast-growth.md
  content/blogposts/2020/series-b-universal-code-search.md
  content/blogposts/2020/series-c-with-sequoia.md
  content/blogposts/2021/log4j-log4-shell-0-day.md
  content/blogposts/2021/why-were-friends-not-competitors-with-code-hosts.md
  content/blogposts/2022/code-insights-ga-announcement.md
  content/blogposts/2022/things-to-know-before-building-a-code-search-tool.md
  content/blogposts/go/liveblogging-dotgo-2017.md
Labels: about-blog, team/content-platform, individual-request

#5582 Add podcast season 3, episode 3
  content/podcast/3.3.md
Labels: podcast

#5581 NativeScript onboarding blog post
  content/blogposts/2022/how-nativescript-onboards-new-contributors.md
Labels: about-blog

#5595 Blockquote/cleanup
  content/blogposts/2016/browse-review-code-on-github-like-in-an-ide-with-the-sourcegraph-chrome-extension.md
  content/blogposts/2019/gitlab-integrates-sourcegraph-code-navigation-and-code-intelligence.md
  content/blogposts/2020/can-you-hear-me-no-but-we-read-you.md
  content/blogposts/2020/enable-gitlab-native-intelligence-sourcegraph-integration.md
  content/blogposts/2020/our-abcs-always-be-coding-childrens-book.md
  content/blogposts/2021/dev-tool-time-amir-rajan.md
  content/blogposts/2021/dev-tool-time-leah-culver.md
  content/blogposts/2021/how-to-not-break-a-search-engine-or-what-i-learned-about-unglamorous-engineering.md
  content/blogposts/2021/why-index-the-oss-universe.md
  content/podcast/2.14.md
  src/components/Blockquote.tsx
  src/components/Blog/PostLayout.tsx
  src/components/Carousels/QuoteCarousel.tsx
  src/components/CaseStudies/CaseStudyLayout.tsx
  src/components/CaseStudies/MediaQuote.tsx
  src/components/CaseStudies/NewCaseStudyLayout.tsx
  src/components/CaseStudies/index.ts
  src/components/index.ts
  src/pages/accelerate-dev-onboarding.tsx
  src/pages/case-studies/cern-reduces-technical-debt.tsx
  src/pages/case-studies/cloudflare-accelerates-debugging-and-improves-security.tsx
  src/pages/case-studies/convoy-improved-on-boarding.tsx
  src/pages/case-studies/convoy-software-engineers-and-data-scientists-work-better-together.tsx
  src/pages/case-studies/criteo-tackles-big-code.tsx
  src/pages/case-studies/f5-streamlines-collaboration-globally.tsx
  src/pages/case-studies/factset-migrates-from-perforce-to-github.tsx
  src/pages/case-studies/indeed-accelerates-development-velocity.tsx
  src/pages/case-studies/lyft-monolith-to-microservices.tsx
  src/pages/case-studies/nutanix-fixed-log4j-with-sourcegraph.tsx
  src/pages/case-studies/quantcast-large-scale-refactoring.tsx
  src/pages/case-studies/we-are-thorn.tsx
  src/pages/case-studies/workiva-automates-large-scale-code-changes.tsx
  src/pages/code-insights.tsx
  src/pages/fixing-vulnerabilities.tsx
  src/pages/jobs.tsx
  src/pages/use-cases/code-reuse.tsx
  src/pages/use-cases/onboarding.tsx
  src/pages/white-papers/remote-work-easier.tsx
  src/styles/pages/_jobs.scss
Labels: design refresh, team/content-platform

#5598 Bug fix for 3.42 release post video
  content/blogposts/2022/release-3.42.md
Labels: team/content-platform, bug fix, improvement

#5603 Add blog: Three years at Sourcegraph as a software engineer
  content/blogposts/2022/three-years-at-sourcegraph.md
Labels: about-blog

#5619 Enable video / youtube components in release posts
  content/blogposts/2022/release-3.42.md
  src/components/Blog/ReleasePost.tsx
Labels: team/content-platform, bug fix, improvement

#5614 Blockquote/ Standardization
  src/components/Blockquote.tsx
  src/components/Carousels/QuoteCarousel.tsx
  src/pages/batch-changes.tsx
  src/pages/case-studies/cern-reduces-technical-debt.tsx
  src/pages/case-studies/cloudflare-accelerates-debugging-and-improves-security.tsx
  src/pages/case-studies/convoy-improved-on-boarding.tsx
  src/pages/case-studies/convoy-software-engineers-and-data-scientists-work-better-together.tsx
  src/pages/case-studies/criteo-tackles-big-code.tsx
  src/pages/case-studies/f5-streamlines-collaboration-globally.tsx
  src/pages/case-studies/factset-migrates-from-perforce-to-github.tsx
  src/pages/case-studies/indeed-accelerates-development-velocity.tsx
  src/pages/case-studies/lyft-monolith-to-microservices.tsx
  src/pages/case-studies/nutanix-fixed-log4j-with-sourcegraph.tsx
  src/pages/case-studies/quantcast-large-scale-refactoring.tsx
  src/pages/case-studies/we-are-thorn.tsx
  src/pages/case-studies/workiva-automates-large-scale-code-changes.tsx
  src/pages/code-search.tsx
  src/pages/fixing-vulnerabilities.tsx
  src/pages/pricing.tsx
  src/pages/use-cases/code-health.tsx
  src/pages/use-cases/code-reuse.tsx
  src/pages/use-cases/index.tsx
  src/pages/use-cases/onboarding.tsx
  src/pages/white-papers/remote-work-easier.tsx
Labels: design refresh, team/content-platform, improvement

#5622 Rm unneeded figcaption padding
  src/styles/components/blog/_BlogPost.scss
Labels: about-blog, team/content-platform, bug fix

#5621 Host data driven relationships with your codebases pdf
  public/guides/data-driven-relationships-with-codebases.pdf
Labels: team/content-platform

#5624 Blockquote/ Follow up cleanup
  src/components/Blockquote.tsx
  src/styles/globals.scss
  src/styles/templates/_PostTemplate.scss
Labels: team/content-platform, bug fix

#5617 Blog/ Cloud Optimization: How Sourcegraph Helps
  content/blogposts/2022/cloud-optimization-part-1-visibility.md
  public/blog/cloud-optimization-part-1-visibility/google-cloud-settings-form.png
  public/blog/cloud-optimization-part-1-visibility/sourcegraph-cloud-settings.png
  public/blog/cloud-optimization-part-1-visibility/sourcegraph-search-all-terraform-imports.png
  public/blog/cloud-optimization-part-1-visibility/sourcegraph-search-results-terraform-imports.png
Labels: about-blog, team/content-platform, marketing-request

#5592 Case study/ Codecov
  nutanix
  public/external-logos/codecov-logo.svg
  src/components/Background/index.tsx
  src/components/Blockquote.tsx
  src/components/BlogResourceItem.tsx
  src/components/CaseStudies/CaseStudyCard.tsx
  src/components/CaseStudies/CaseStudyJumbotron.tsx
  src/components/CaseStudies/NewCaseStudyLayout.tsx
  src/components/IntegrationsSection.tsx
  src/components/ProductHero.tsx
  src/components/RequestDemoTrySourcegraph.tsx
  src/components/ThreeUpText.tsx
  src/components/TwoColumnSection.tsx
  src/components/index.ts
  src/pages/batch-changes.tsx
  src/pages/blog/index.tsx
  src/pages/case-studies/codecov-uses-sourcegraph-to-resolve-incidents-faster.tsx
  src/pages/case-studies/nutanix-fixed-log4j-with-sourcegraph.tsx
  src/pages/code-insights.tsx
  src/pages/code-search.tsx
  src/styles/_colors.scss
  src/styles/globals.scss
Labels: team/content-platform, marketing-request, high priority, medium priority
