Repository sourcegraph/about, pull requests merged in 2023-12, with the labels that each got.

#6608 Incorporate feedback from Ado about the Cody Guest blog
  content/blogposts/2023/guest-post-arafat-khan-php-python.md
Labels: about-blog

#6621 Update OG image url
  content/blogposts/2023/cody-vscode-0-18-release.md
Labels: about-blog

#6614 Add guest post: flowcharting your code
  content/blogposts/2023/guest-post-tino-wening-flowcharting-your-code-.md
Labels: about-blog, guest-post

#6635 Update links to new docs website
  src/components/Blog/ReleasePost.tsx
  src/components/GetStartedButton.tsx
  src/components/Install/index.tsx
  src/components/IntegrationsSection.tsx
  src/components/Layout/Footer.tsx
  src/components/Layout/Header/NavItems.tsx
  src/components/cody/AiGeneratedCode.tsx
  src/pages/case-studies/how-sourcegraph-transformed-nine-development-workflow.tsx
  src/pages/code-insights.tsx
  src/pages/get-started.tsx
  src/pages/hackathons.tsx
  src/pages/own.tsx
  src/pages/partners/aws.tsx
  src/pages/security.tsx
  src/pages/shift-left-the-good-parts.tsx
Labels: marketing, enhancement
